    @import url('https://fonts.googleapis.com/css?family=Jaldi&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
    body {
        font-family: 'Jaldi';
    }
    
    * {
        font-family: 'Jaldi';
    }
    
    .content-campaing {
        margin-top: -25px;
    }
    
    .header-background {
        background: #F9F5FF;
    }
    
    #logo-container {
        max-width: 25%;
    }
    
    .header-stripe {
        background: #43985B;
        min-height: 50px;
    }
    
    .header-logo>img {
        margin-top: 5px;
    }
    
    .header-content>h2
    {
        margin: 25px 0px;
        font-family: 'Jaldi';
        font-size: 32px;
    }

    .header-content>p
    {
        margin: 25px 0px;
        font-family: 'Jaldi';
        font-size: 24px;
    }
    
    .header-img>img {
        margin-top: 25px;
    }
    
    .header-list-item {
        display: flex;
        margin: 25px;
    }
    
    .header-list-item>p {
        margin: 0px 25px;
        font-family: 'Jaldi';
        font-size: 18px;
    }
    
    .header-list-item>img {
        width: 30px;
        height: 30px;
    }
    
    .header-btn {
        text-align: center;
    }
    
    .header-btn>button {
        color: black;
        background: #F5D45D;
        font-weight: bold;
        font-size: 24px;
        padding: 10px 0px;
        border-radius: 5px;
        width: 400px;
        height: 50px;
        margin: 20px auto;
    }
    
    .header-btn>button:hover {
        background: #43985B;
    }
    /* section second */
    
    .reviews-background {
        background: #F9F5FF;
        height: 480px;
    }
    
    .review-headerTitle {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 61px;
        text-align: center;
        padding-top: 1%;
    }
    
    .review-avatar {
        max-width: 50%;
        margin-top: 15%;
        border-radius: 100px;
    }
    
    .review-title {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 31px;
    }
    
    .review-text {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #727070;
        margin: 15px 0px;
    }
    
    .review-author {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }
    /* Section campaign-offer */
    
    .offer-container {
        margin: 20px 0px;
    }
    
    .offer-box {
        border: 1px solid #43985B;
    }
    
    .offer-box>div>p {
        font-weight: bold;
    }
    
    .offer-arrow>img {
        margin: 150px 0px 0px 10px;
    }
    
    .offer-btn>button {
        color: black;
        background: #F5D45D;
        font-weight: bold;
        margin: 150px 0px 0px 10px;
        padding: 5px 20px;
        border-radius: 5px
    }
    
    .offer-btn>button:hover {
        background: #43985B;
    }
    
    .offer-btn>button>h4 {
        margin: 0px;
        color: black;
        font-weight: bold;
        font-size: 22px;
    }
    
    .offer-btn>button {
        color: black;
        font-weight: bold;
        font-size: 16px;
        width: 200px;
    }
    
    .offer-cost {
        color: #43985B;
    }
    /* benefit */
    
    .benefit-title {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 61px;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    
    #benefit-rowPadding {
        padding-bottom: 5%;
    }
    
    .benefit-tableTitle {
        display: flex;
    }
    
    .benefit-tableTitleText {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin-left: 10px;
    }
    
    .benefit-tableText {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 41px;
        margin-left: 40px;
    }
    
    .benefit-epilogue {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 41px;
        color: #43985B;
    }
    /* campaing conditions */
    
    .campaing-conditions {
        margin: 20px auto;
    }
    
    .conditions-box {
        display: flex;
    }
    
    .conditions-box>p {
        font-weight: bold;
        margin: auto 15px;
    }
    /* campaing separator img */
    
    .separator-img {
        background: url('../images/grass.png') no-repeat;
        background-size: cover;
        background-attachment: fixed, fixed;
        height: 500px;
    }
    /* campaing table */
 
    .table-title {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 61px;
        text-align: center;
    }

    .campaing-table
    {
        background: #F9F5FF;
        padding: 20px 0px;
    }
    
    .table-bordered {
        margin: 25px auto;
        border: 1px solid #43985B;
    }
    
    .table-ingredients th {
        background: #EAFFF0;
    }
    
    .table-ingredients th,
    .table-ingredients td {
        border: 2px solid #43985B !important;
    }
    
    .active-ingredients>div {
        margin: 5px 45px 10px 25px;
        border-bottom: 1px solid #95B99F;
    }
    
    .active-ingredients>div>span {
        float: right;
    }
    /* footer */
    
    #footer-campaing {
        margin-top: 50px;
        background: #6c7a89;
    }
    
    #about-us h4,
    #about-company h4,
    #purchase-terms h4,
    #privacy-andContact h4 {
        font-family: 'Karla';
        font-size: 19px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
    
    #about-us .about-usText,
    .privacy-link,
    .contact-link {
        font-family: 'Karla';
        font-size: 16px;
        color: #FFFFFF;
    }
    
    #footer-campaing>div>div {
        padding-top: 25px;
    }
    
    #footer-campaing>div>div>div {
        margin-bottom: 25px;
    }
    /* campaing form  */

    .campaing-form
    {
        margin: 25px;
    }
    
    .form-title {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 61px;
        text-align: center;
    }
    
    .ginput_container > input
    {
        border: 2px solid #95B99F;
    }

    .ginput_container> span > input
    {
        border: 2px solid #95B99F;
    }

    #gform_next_button_98_18, #gform_submit_button_98, #gform_previous_button_98
    {
        color: black !important;
        background: #F5D45D !important;
        font-weight: bold !important;
        border-radius: 5px
    }

    #gform_next_button_98_18:hover,
    #gform_submit_button_98:hover,
    #gform_previous_button_98:hover
    {
        background: #43985B !important;
    }
 
    /* thank you page */
    
    #section-thank-you {
        margin-top: -25px;
        height: -webkit-fill-available;
    }
    
    .headerThankYou-background {
        height: -webkit-fill-available;
    }
    
    .footer-thankYou {
        margin-top: 2%;
    }
    
    #section-thank-you h2 {
        font-family: 'Jaldi';
        font-size: 45px;
        line-height: 81px;
        margin-top: 70px;
    }
    
    #section-thank-you p {
        font-family: 'Jaldi';
        font-size: 18px;
        line-height: 30px;
    }
    
    #section-thank-you .header-img img {
        margin-top: 70px;
        padding-left: 10%;
    }


    /* DISPLAY NONE FORM */

    #field_98_35, #field_98_33, #field_98_8, #field_98_22, #field_98_9, #field_98_40, #field_98_42, #field_98_43
    {
        display: none;
    }
