@media (max-width: 1200px) {}

@media (max-width: 1080px) {
    /* benefit section */
    #benefit-img {
        height: 30px;
    }
    /* footer */
    /* #about-company {
        max-width: 18%;
    } */
}

@media (max-width: 1080px) {
    .offer-arrow {
        display: none;
    }
    .offer-box {
        margin-bottom: 30px;
        text-align: center;
    }
    .offer-btn {
        text-align: center;
    }
    .offer-btn>button {
        margin: 25px 0px;
    }
}

@media (max-width: 768px) {
    .header-btn>button {
        width: 290px;
    }
    .content-campaing {
        margin-top: -50px;
    }
    /* conditions */
    .conditions-box {
        margin-bottom: 10px;
    }
    .conditions-box>img {
        width: 40px;
    }
    /* review section */
    .reviews-background {
        height: 1430px;
    }
    .reviews-background .row {
        flex-direction: column;
    }
    .reviews-background .col-4 {
        max-width: 345px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        border-bottom: 1px solid #95B99F;
    }
    .review-headerTitle {
        font-size: 25px;
    }
    .review-avatar {
        max-width: 100%;
        margin-top: 8%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .review-title,
    .review-author {
        width: 100%;
        font-size: 23px;
        line-height: 22px;
    }
    .review-text {
        font-size: 20px;
        width: 110%;
        line-height: 27px;
    }
    .review-title,
    .review-text,
    .review-author {
        padding-bottom: 8%;
    }
    /* benefit section */
    .benefit-tableTitleText {
        font-size: 19px;
    }
    .benefit-tableText {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .benefit-epilogue {
        font-size: 20px;
    }
    #benefit-rowPadding {
        display: flex;
        flex-direction: column;
    }
    /* section-table */
    .active-ingredients>div {
        margin: 5px 5px 10px 5px;
    }
    /* thank you page */
    #section-thank-you {
        height: 910px;
    }
    .footer-thankYou {
        margin-top: 1%;
    }
}

@media (max-width: 415px) {
    /* review section */
    .reviews-background {
        height: 1490px;
    }
    .review-headerTitle {
        font-size: 30px;
    }
    .review-text {
        width: 100%;
    }
    /* benefit section */
    .benefit-title {
        font-size: 30px;
    }
    .benefit-tableText {
        line-height: 31px;
    }
    #benefit-rowPadding {
        display: flex;
        flex-direction: column;
    }
    /* section table */
    .active-ingredients>div>span {
        float: unset;
        font-weight: bold;
    }
    /* thank you page */
    #section-thank-you {
        margin-top: -48px;
        height: 947px;
    }
    #section-thank-you h2 {
        font-size: 32px;
    }
}

@media (max-width: 320px) {
    /* review section */
    .reviews-background {
        height: 1460px;
    }
    /* benefit section */
    .benefit-title {
        padding-bottom: 0;
        font-size: 25px;
    }
    #benefit-rowPadding .benefit-tableTitle {
        padding-top: 5%;
    }
    .benefit-epilogue {
        font-size: 17px;
    }
    /* thank you page */
    #section-thank-you {
        height: 872px;
    }
    #section-thank-you h2 {
        font-size: 24px;
    }
    #section-thank-you p {
        font-size: 15px;
    }
}